<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title></title>
		<!-- <link href="" rel="stylesheet" /> -->
		<style>
div[name='centering_container'] {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
		</style>
		<!-- <script src=""></script> -->
		<script>
		</script>
	</head>
	<body>
		<div name='centering_container'>
			<h1>XA!</h1>
		</div>
	</body>
</html>

