<!DOCTYPE html>
<html>
	<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title></title>

		<style>

		</style>

		<script>

		</script>
	</head>
	<body>

<fieldset>
	<legend>1234567890</legend>
	<form action="/index.php" method="get">
		<label> Path to file <input type="text" /> </label>
		<label> File contents <textarea></textarea> </label>
		<label> Upload file <input type="file" /> </label>
		
		<label> <input type="checkbox" /> 0000000000 </label><br />
		<label> <input type="checkbox" /> OOOOOOOOOO </label>
		
		<hr />
		
		<label> Please give your choose 
			<select>
				<option>XXXXXXX</option>
				<option>Yasdasd YYYYYY</option>
				<option>ZZZZZZ</option>
			</select>
		</label>
		
		<br />
		
		<label> <input name="radio" type="radio" /> RRRRRRRRRR </label><br />
		<label> <input name="radio" type="radio" /> ЯЯЯЯЯЯЯЯЯЯ </label><br />
		<label> <input name="radio" type="radio" /> UUUUUUUUUU </label>
		
		<hr />
		<button name="action" value="new" type="submit">0000</button>
		<button name="action" value="save" type="submit">Save</button>
		<button name="action" value="delete" type="submit">Delete</button>
	</form>
</fieldset>

<button name="action" value="new" type="submit">0000</button>
<button name="action" value="save" type="submit">Save</button>
<button name="action" value="delete" type="submit">Delete</button>

<br />

<label>
	<input type="checkbox" />
	0000000000
</label><br />
<label>
	<input type="checkbox" />
	OOOOOOOOOO
</label>

<p>
`1234567890-=\qwertyuiop[]asdfghjkl;'zxcvbnm,./<br />
~!@#$%^&amp;*()_+|<b>QWERTY</b>UIOP{}<s>ASDF</s>GHJKL:"ZXCVBNM&lt;&gt;?<br />
<hr />
ё1234567890-=\йцукенгшщзхъфывапролджэячсмитьбю.<br />
Ё!"№;%:?*()_+/<i>ЙЦУКЕН</i>ГШЩЗХЪ<u>ФЫВА</u>ПРОЛДЖЭЯЧСМИТЬБЮ,<br />
</p>

<hr />

!QAZ@WSX#EDC$RFV%TGB^YHN&UJM*IK<(OL>)P:?_{"+}|<br />
!ЙФЯ"ЦЫЧ№УВС;КАМ%ЕПИ:НРТ?ГОЬ*ШЛБ(ЩДЮ)ЗЖ,_ХЭ+Ъ/<br />
!QAZ@WSX#EDC$RFV%TGB^YHN&UJM*IK<(OL>)P:?_{"+}|<br />
<h4>!ЙФЯ"ЦЫЧ№УВС;КАМ%ЕПИ:НРТ?ГОЬ*ШЛБ(ЩДЮ)ЗЖ,_ХЭ+Ъ</h4>
!ЙФЯ"ЦЫЧ№УВС;КАМ%ЕПИ:НРТ?ГОЬ*ШЛБ(ЩДЮ)ЗЖ,_ХЭ+Ъ/<br />
!QAZ@WSX#EDC$RFV%TGB^YHN&UJM*IK<(OL>)P:?_{"+}|<br />
!ЙФЯ"ЦЫЧ№УВС;КАМ%ЕПИ:НРТ?ГОЬ*ШЛБ(ЩДЮ)ЗЖ,_ХЭ+Ъ/<br />
!QAZ@WSX#EDC$RFV%TGB^YHN&UJM*IK<(OL>)P:?_{"+}|<br />
!ЙФЯ"ЦЫЧ№УВС;КАМ%ЕПИ:НРТ?ГОЬ*ШЛБ(ЩДЮ)ЗЖ,_ХЭ+Ъ/<br />
	</body>
</html>